.salida-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #444; /* Un borde más oscuro para ajustarse al tema oscuro */
    background-color: #333; /* Fondo oscuro para coincidir con el tema general */
}

.salida-title {
    text-align: left;
    color: #fff; /* Color de texto blanco para el título */
}

.salida-textarea {
    width: 100%; /* Ancho completo del contenedor */
    max-width: 1300px; /* Ancho máximo deseado para el textarea */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    background-color: #222; /* Fondo oscuro para el textarea */
    color: #fff; /* Color de texto blanco para el textarea */
    border: 1px solid #444; /* Borde oscuro */
    font-family: monospace; /* Fuente monoespaciada para simular consola */
    resize: none; /* Opcional: desactiva el redimensionamiento */
}
